*{
	margin:0;
	padding:0;
}
:root{
	/* default values for CSS variables */
	--x:0;
	--y:0;
	--bg-x: 50;
	--bg-y: 70;
}
html,body{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body.connected #players{
	width: 5000px;
	height: 5000px;
	background: center / contain no-repeat url(/assets/brc.svg);
	position: absolute;
	left:calc(var(--bg-x) * -10px);
	top: calc(var(--bg-y) * -10px);
}
#players>.player{
	position: fixed;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	/*
	center the player on the x location
	player is not centered on y because then the players name might not be visible
	*/
	transform: translateX(-50%);
	top: calc((var(--y) - var(--bg-y)) * 10px + 50%);
	left:calc((var(--x) - var(--bg-x)) * 10px + 50%);
}
#players>.player>.name{
	border: 5px solid black;
	background-color: white;
	padding: 3px;
	border-radius: 5px;
}

#login{
	display: flex;
	width: 50%;
	margin: auto;
	margin-top: 3em;
	flex-direction: column;
}
.connected #login{
	display: none;
}