<br><br>
<h1 class="head-tic animated infinite pulse">Virtual Black Rock City</h1>
<br><br>
<div style="text-align:center;" ng-controller="loginCtrl as login">
    <h1 class="login-head">To play you will need to sign in first,</h1>
    <br>
    <form>
      <div class="form-group">
        <input class="loginFrm" id="displayname" type="text" class="form-control" placeholder="display name" />
      </div>
      <div class="form-group">
        <input class="loginFrm" id="email" type="email" class="form-control" placeholder="email" />
      </div>
      <div class="form-group">
        <input class="loginFrm" id="password" type="password" class="form-control" placeholder="password" />
      </div>
      <button class="loginBtn" type="submit" class="btn btn-default" ng-click="login.loginWithEmail()">Sign In / Sign Up</button>
    </form>
    <a ng-click="login.loginWithGoogle()">
        <button class="loginBtn loginBtn--google">
            Sign in with Google
        </button>
    </a>
    <!-- <a ng-click="login.loginWithEmail()">
        <button class="loginBtn">
            Sign in with email/password
        </button>
    </a> -->
    </div>